<div class='container'>
<div class=add-food>
<%=link_to 'Add Food',new_food_path%>
</div>
<table>
<tr>
  <th>Food</th>
  <th>Measurement Unit</th>
  <th>Unit Price</th>
  <th>Action</th>
</tr>
<%@foods.each do |food|%>
<tr>
  <td><%=food.name%></td>
  <td><%=food.measurement_unit%></td>
  <td>$<%=food.price%></td>
  <td>delete</td>
<%end%>
</table>
</div>